<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Library</title>
    <link rel="stylesheet" href="/site.css" />
</head>
<body>
    <headerc class="menu">
            <ul>
                <li>  <a href="/">Home</a></li>
                <li>  <a href="/all">View All</a></li>
                <li><a href="/addBook">Add Book</a> </li>
            </ul>
    </header>
    <div class="container">
       {{{body}}}
    </div>
     
    <footer>
        MonKaTa 2018
    </footer>
</body>
</html>